<%- include('./partials/head') %>
<%- include('./partials/header') %>  

<body>
    <div class="latest">
        <div class="latestTitle">
            <h1>Detalle del Producto <%=product.name%> </h1>
        </div>
        
            <section class="latestCards">
                <figure>
                <a href="/products/detail/<%=product.id%>"> <img class="latestCardsImage" src="/images/img/products/<%=product.image%>" alt="<%=product.name%>"></a>
                </figure>
                <article class="latestInfo">
                <article class="headDescription">
                    <span class="off">Discount %15 OFF </span>
                    <h3 class="price"><%=product.price%></h3>   
                </article>
                <p class="description"> <%=product.name%> </p>
                </article>
            </section>
        
    </div>    
</body>

<%- include('./partials/footer') %>