<%- include('./partials/head') %>
<%- include('./partials/header') %>  

  <body>
    <div class="banner" >
      <img class="bannerImage" src="/images/img/img-home-banner.jpg" alt="banner">
    </div>

    <!-- Cards de pago -->

    <div class="Cards" >
      <div class="box" >
        <i class="fas fa-credit-card"></i>
        <div>
          <h3>Tarjeta de credito</h3>
          <a href="">Ver promociones bancarias</a>
        </div>
      </div>
      <div class="box" >
        <i class="fas fa-credit-card"></i>
        <div>
          <h3>Tarjeta de debito</h3>
          <a href="">Ver promociones bancarias</a>
        </div>
      </div>
      <div class="box" >
        <i class="fas fa-money-bill-alt"></i>
        <div>
          <h3>Efectivo</h3>
          <a href="">Ver mas</a>
        </div>
      </div>
      <div class="box" >
        <i class="fas fa-plus-circle"></i>
        <div>
          <h3>Mas medios de pago</h3>
          <a href="">Ver todos</a>
        </div>
      </div>
    </div>


    

    <!-- Ofertas -->
    <div class="offers">
      <div class="offersTitle">
        <h2>Ofertas</h2>
        <a href="/products">Ver mas</a>
      </div>

      <% productsOffers.forEach((product) =>{ %>
        <section class="offersCards">
          <figure>
            <a href="/products/detail/<%=product.id%>"> <img class="offersCardsImage" src="/images/img/products/<%=product.image%>" alt="<%=product.name%>"> </a>
          </figure>
          <article class="offersInfo">
            <article class="headDescription">
              <span class="off">Discount %15 OFF </span>
              <h3 class="price"> <%=product.price%> </h3>   
            </article>
            <p class="description"> <%=product.name%> </p>
          </article>
        </section>
      <% }) %>

    <!-- Lo mas buscado -->
    <div class="latest">
      <div class="latestTitle">
        <h2>Lo ultimo</h2>
        <a href="">Ver mas</a>
      </div>

      <% productsVisited.forEach((product) =>{ %>
        <section class="latestCards">
          <figure>
            <<a href="/products/detail/<%=product.id%>"> <img class="latestCardsImage" src="/images/img/products/<%=product.image%>" alt="Teclado"></a>
          </figure>
          <article class="latestInfo">
            <article class="headDescription">
              <span class="off">Discount %15 OFF </span>
              <h3 class="price"><%=product.price%></h3>   
            </article>
            <p class="description"> <%=product.name%> </p>
          </article>
        </section>
      <% }) %>  

    
  </body>

 <%- include('./partials/footer') %>